@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #242933;
    display: grid;
    height: 100%;
    place-items: center;
}

.cont {
    width: 420px;
    height: auto;
    padding: 20px 30px;
    background-color: #2f3644;
    border: 1.5px solid #3d4359;
    border-radius: 3px;
    color: #acbbe2;
}

.cont h1 {
    padding-top: 5px;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
}

.cont form {
    margin: 5px 8px;
}

.cont form .field {
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    margin-bottom: 40px;
    display: inline-block
}

form .field input {
    width: 100%;
    height: 100%;
    border: 3px solid #2f3644;
    outline: none;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 2px;
    position: relative;
    padding-left: 5px;
}

/* Validar borde de input */
.field-correcto .form_input{
    border: 3px solid #1ed12d;
}

.field-incorrecto .form_input {
    border: 3px solid #bb2929;
}


/*config input submit */
.form input[type=submit]{
    width: 100%;
    height: 35px;
    margin: 50px 0 10px 0;
    border: 1px #242933;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form input[type=submit]:hover {
    background-color: #675FF0;
}

/*Control errores de texto*/
.input_error {
    font-size: 11px;
    color: #bb2929;
    display: none;
}
.input_error-activo {
    display: block;
}
.input_error_general {
    font-size: 11px;
    color: #bb2929;
    display: none;
}
.input_error_general-activo {
    display: block;
}

/* config imagenes*/



